version: '3.2'
services:
  node-001:
    build:
      context: .
    command: ["/bin/node", "start"]
    environment: 
      HTTP_PORT: 8080
      GOSSIP_PORT: 42069
    restart: on-failure
    ports: 
      - 8080:8080

  node-002:
    build:
      context: .
    command: ["/bin/node", "start"]
    environment: 
      HTTP_PORT: 8080
      GOSSIP_HOSTS: "node-001"
      GOSSIP_PORT: 42069
    restart: on-failure
    ports: 
      - 8081:8080
    depends_on: 
      - node-001

  node-003:
    build:
      context: .
    command: ["/bin/node", "start"]
    environment: 
      HTTP_PORT: 8080
      GOSSIP_HOSTS: "node-001,node-002"
      GOSSIP_PORT: 42069
    restart: on-failure
    ports: 
      - 8082:8080
    depends_on: 
      - node-001
      - node-002

