node:
  replicas: 2

  http: 
    server:
      port: 8080
      cors:
        enabled: true

    client:
      timeout: 10s

  gossip:
    port: 42000
    secretKey: thisisatemporarykey

image:
  repository: "eu.gcr.io/chms-226211/sse-cluster"
  tag: "latest"

autoscaler:
  minReplicas: 1
  maxReplicas: 3
  targetCPUUsage: 75