apiVersion: "v1"
kind: "ConfigMap"
metadata:
  name: {{ .Release.Name }}
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ .Chart.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    helm.sh/chart: {{ .Chart.Name }}-{{ .Chart.Version }}
    app.kubernetes.io/name: {{ .Release.Name }}
data:
  HTTP_PORT: "{{ .Values.node.http.port }}"
  GOSSIP_HOSTS: "{{ .Release.Name }}-0.{{ .Release.Name }}"
  GOSSIP_PORT: "{{ .Values.node.gossip.port }}"