apiVersion: "v1"
kind: "Service"
metadata:
  name: {{ .Release.Name }}
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    helm.sh/chart: {{ .Chart.Name }}-{{ .Chart.Version }}
    app.kubernetes.io/name: {{ .Release.Name }}
spec:
  clusterIP: None
  ports:
  - protocol: "TCP"
    name: gossip
    port: {{ .Values.node.gossip.port }}
    targetPort: {{ .Values.node.gossip.port }}
  - protocol: "TCP"
    name: http
    port: {{ .Values.node.http.server.port }}
    targetPort: {{ .Values.node.http.server.port }}
  selector:
    app.kubernetes.io/name: {{ .Release.Name }}
    app.kubernetes.io/instance: {{ .Release.Name }}
